<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/log.png}" alt="LogoEmpresa" height="40">
                <strong>Facturación S.A</strong>
            </a>
            <!--Enlaces-->
            <div th:if="${administrador != null}">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href = "@{/}">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"  th:href = "@{/administracion}">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  th:href = "@{/administracion/solicitudes}">Solicitudes</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:if="${proveedor != null}">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href = "@{/}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href = "@{/clientes(idProv=${session.proveedor.getId()})}">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  th:href = "@{/presentation/facturacion/searchProveedor}">Facturación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  th:href = "@{/productos(idProv=${session.proveedor.getId()})}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <select onchange="location = this.value;">
                                <option value="">Idiomas</option>
                                <option value="?lang=es">Español</option>
                                <option value="?lang=en">Inglés</option>
                                <option value="?lang=pt">Francés</option>
                            </select>
                            <!--                        productos ver si se manda id proveedor-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<!--Pie de página-->
<footer th:fragment="footer" class = "bg-dark text-center text-white fixed-bottom" >
    <div class="container">
        <p>Proyecto Programación IV &copy;  - 2023</p>
    </div>
</footer>

</body>
</html>