<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos del proveedor</title>
</head>
<body>

<div>
    <h1>Datos del proveedor</h1>
    <p>Por favor complete sus datos:</p>
    <div class="container">
        <form th:action="@{/proveedor/registro-datos}" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="id">ID:</label>
                    <input type="text" class="form-control" id="id" name="id"
                           th:value="${proveedor != null ? proveedor.getId() : ''}"
                           th:disabled="${proveedor != null}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                           th:value="${proveedor != null ? proveedor.getNombre() : ''}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="correo">Correo:</label>
                    <input type="email" class="form-control" id="correo" name="correo"
                           th:value="${proveedor != null ? proveedor.getCorreo() : ''}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="telefono">Telefono:</label>
                    <input type="text" class="form-control" id="telefono" name="telefono"
                           th:value="${proveedor != null ? proveedor.getCorreo() : ''}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="nif">Nif:</label>
                    <input type="text" class="form-control" id="nif" name="nif"
                           th:value="${proveedor != null ? proveedor.getHaciendaByNif().getNif() : ''}"
                           th:disabled="${proveedor != null}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="actividad">Nif:</label>
                    <input type="text" class="form-control" id="actividad" name="actividad"
                           th:value="${proveedor != null ? proveedor.getHaciendaByNif().getActEconomica() : ''}" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <!--            <a th:href="@{/productos(idProv=${86952})}">Limpiar</a>-->
        </form>
    </div>
</div>
</body>
</html>



