<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<form method="post" th:action="@{/presentation/login/registro}" enctype="multipart/form-data" th:object="${prov}">
    <div>
        <label> Identificacion:
            <input type="text" th:field="${prov.id}" required>
        </label>
    </div>
    <div>
        <label> Clave:
            <input type="password" th:field="${prov.contrasena}" required>
        </label>
    </div>
    <div>
        <label> Correo:
            <input type="email" th:field="${prov.correo}" required>
        </label>
    </div>
    <div>
        <label> Nif:
            <input type="text" name="nif" required >
        </label>
    </div>
    <div>
        <button type="submit" >Registrarse</button>
    </div>
</form>
</body>
</html>


