<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Facturación</title>
</head>

<body>
    <!--barra de Navegacion-->
    <header th:replace="presentation/plantilla/template :: header"></header>

    <!--Contenido-->
    <p>Página de inicio aquí se puede escribir lo que se quiera</p>

    <footer th:replace="presentation/plantilla/template :: footer"></footer>



</body>
</html>