<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body>
<header th:replace="index :: header"></header>
<div class = "centered">
    <table style = "border: 1px solid blue">
        <tr><th>Id</th>   <th>Nombre</th> <th>...</th></tr>
        <tr th:each = "c:${clientes}">
            <td th:text="${c.getId()}"></td>
            <td th:text="${c.getNombre()}"></td>
            <td>
                <form th:action="@{/presentation/facturacion/selectCliente/{idCliente} (idCliente=${c.getId()})}">
                    <button type="submit"  class="btn btn-primary">Agregar</button>
                    <input type ="hidden" name = nomProveedorCliente th:value="${nombreProveedor}">
                </form>
            </td>
        </tr>
    </table>
</div>
<footer th:replace="index :: footer"></footer>
</body>
</html>